.header-container {
  background-color: #161616;
  width: 100%;
  padding: 0.25rem 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.header-section {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.header-text-primary {
  color: var(--color-primary);
  font-weight: 600;
}

.header-text-secondary {
  color: var(--color-secondary);
  font-weight: 400;
}
